params {

    // Reads and references
    adapter_fa = "/projectnb/bf528/materials/project-2-chipseq/refs/TruSeq3-SE.fa"
    blacklist = "/projectnb/bf528/materials/project-2-chipseq/refs/hg38-blacklist.v2.bed"

    genome = "/projectnb/bf528/materials/project-2-chipseq/refs/GRCh38.primary_assembly.genome.fa"
    gtf = "/projectnb/bf528/materials/project-2-chipseq/refs/gencode.v45.primary_assembly.annotation.gtf"

    samplesheet = "$projectDir/full_samplesheet.csv"
    subset_samplesheet = "$projectDir/subset_samplesheet.csv"

    // Directories
    outdir = "$projectDir/results/"
    refdir = "$projectDir/refs/"
}

profiles {
    conda {
        conda.enabled = true
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
    cluster {
        process {
                executor = 'sge'
                clusterOptions = '-P bf528'
                penv = 'omp'

                withLabel: process_single {
                    cpus = 1
                }

                withLabel: process_low {
                    cpus = 4

                }
                withLabel: process_medium {
                    cpus = 8
                }
                
                withLabel: process_high {
                    cpus = 16
                    memory = '16 GB'
                }
        }
    }

    local {
        process.executor = 'local'
    }
}

executor {
    $sge {
        queueSize = 8
    }
    $local {
        cpus = 1
    }
}

resume = true